.header {
    display: flex;
    justify-content: center;
    border: qpx solid black;
}

.logo {
    width: 120px;
}
.nav-items {
    padding: 0px 20px;
}

.nav-items > ul {
    display: flex;
    font-size: 24px;
    list-style: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    padding: 15px 15px;
    width: 250px;
    margin: 10px;

}

.res-card:hover{
    border: 2px solid red;
    cursor: pointer;
}
.filter-btn{
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}
.filter-price{
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}
.filter-time{
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}
.card-image{
    width: 90%;
    height: 160px;
    padding: 5px;
}